html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

P {
  text-align: center
}

Input{
  text-align: center
  position: relative;
             display: block;
             margin : 0 auto;
}

button{
  text-align: center
  position: relative;
             display: block;
             margin : 0 auto;
}
